/* Critical CSS for proper stream behavior */
#streamFullscreenContainer:not(:fullscreen) > #streamFullscreenOverlay {
    display: none;
}

#streamFullscreenContainer:fullscreen > #streamFullscreenOverlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

/* Scale video up to match container in fullscreen mode */
#streamVideoElement {
    width: 100vw;
    height: 100vh;
}

/* Prevent Safari from drawing media controls over stream */
#streamVideoElement::-webkit-media-controls {
    display: none !important;
}

#fullscreenButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
}